<section class="mainpage wrapper">
  <h1 class="title">Конвертация валют</h1>
  <form class="convert" [formGroup]="currencyForm">
    <div class="input-wrapper" tabindex="0">
      <input [readonly]="isLoading" class="convert__input" type="number" name="firstInput" formControlName="firstInput">
      <select name="" id="" class="convert__select" name="firstSelect" formControlName="firstSelect">
        <option *ngFor="let option of currencyList.rates | keyvalue" [selected]="option.key == currentState[0]">{{option.key}}</option>
      </select>
    </div>
    
    <div class="arrow" [ngClass]="arrowRotated? 'inversed' : ''" role="button" tabindex="0" (click)="swtichCurrencies()"></div>
    <div class="input-wrapper">
      <input [readonly]="isLoading" class="convert__input" type="number" name="secondInput" formControlName="secondInput">
      <select name="" id="" class="convert__select" name="secondSelect" formControlName="secondSelect">
        <option *ngFor="let option of currencyList.rates | keyvalue" [selected]="option.key == currentState[1]">{{option.key}}</option>
      </select>
    </div>
  </form>
  <div class="choose"></div>
</section>